<div class="row">
  <div class="col-3">
    <div class="p-3" [ngClass]="Div1ClassName()">Div 1 - {{ Div1ClassName() }}</div>
  </div>

  <div class="col-3">
    <div class="p-3" [ngStyle]="{ 'background-color': isDiv2Green == true ? 'blue' : 'rad' }">
      Div 2
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <button class="btn btn-success" (click)="setBgClass('bg-success')">Green</button>
    <button class="btn btn-danger" (click)="setBgClass('bg-danger')">Red</button>
  </div>

  <div class="col-3">
    <button class="btn btn-success" (click)="toggleDiv2Color()">Toggle BG Color</button>
  </div>
</div>

<div class="row">
  <div class="clo-3">
    firsName => {{ firstName | uppercase }}
    <br />
    {{ firstName | uppercase }}
  </div>
</div>

<div class="row">
  <div class="clo-3">
    firsName => {{ courseName }}
    <br />
    {{ courseName | lowercase }}
  </div>
</div>

<div class="row">
  <div class="clo-3">
    firsName => {{ courseName }}
    <br />
    {{ courseName | titlecase }}
  </div>
</div>

<div class="row">
  <div class="clo-3">
    rollNoList => {{ rollNoList }}
    <br />
    {{ rollNoList | slice: 4 : 6 }}
  </div>

  <div class="col-3">studentObj => {{ studentObj | json }}</div>

  <div class="col-3">
    currentDate => {{ currentDate }}
    <br />
    {{ currentDate | date }}
    <br />
    {{ currentDate | date: 'dd-MM-yyyy' }}
  </div>
</div>
